.news {
    display: flex;
    color: white;
  }
  
  .news .imagem {
    flex: 0 0 200px;
  }
  
  .news .imagem img {
    width: 100%;
    height: auto;
  }
  
  .news .texto {
    flex: 1;
    margin-left: 20px;
  }