 
<app-menu-bar></app-menu-bar>
<app-menu-title></app-menu-title>
<div class="artigos">
    <div class="artigos-main">
        <app-big-card fotoCard="https://th.bing.com/th/id/R.bb79a099832ae287d3778941b59b5bc5?rik=%2fZCWjB56SYe%2few&pid=ImgRaw&r=0s"
        cardTitulo="Desenvolvedor Angular"
        url="https://github.com/criarsite"
        cardDescricao="Criar aplicações web modernas e dinâmicas usando o framework Angular e outras tecnologias relacionadas, como TypeScript, Node.js ou outros..."
        data="02/12/2023"
        ></app-big-card>
    </div>
    
    <div class="artigos-outros">

        <app-small-card 
            imgSmalCard="https://th.bing.com/th/id/OIP.30aoNxlSnaYrLhBT0O1lzwHaE8?rs=1&pid=ImgDetMain" 
            texto="Desenvolvedor Golang: Desenvolvimento de APIs golang"
            altImage="golang Developer">
       </app-small-card>
        <app-small-card 
            imgSmalCard="https://1.bp.blogspot.com/-k-6AfHgZkjk/YU93kEgrGSI/AAAAAAAALbY/c27Brasem640iVZNolKvUqcEdThf5ShEQCLcBGAsYHQ/s2000/csharpslider.png" 
            texto="Desenvolvedor .Net: Desenvolvimento de APIs usando a linguagem C#"
            altImage=".Net Developer">
       </app-small-card>
        <app-small-card 
            imgSmalCard="https://th.bing.com/th/id/R.168c10e10314d6cc72782c60c80d5949?rik=1RFqjCr1SDu7YQ&pid=ImgRaw&r=0" 
            texto="Full Stack Blazor: Desenvolvimento fullstack Blazor"
            altImage="Blazor Developer">
       </app-small-card>
       
    </div>

</div>
<app-rodape></app-rodape>


